 


<%= form_for(@recommendation, url: '/derp') do |f| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <% f.label :watched %><br>
    <%= f.hidden_field :watched ,value: 'false' %>
  </div>
  <div class="field">
    <%  f.label :votes %><br>
    <%= f.hidden_field :votes, value: '1' %>
  </div>
  <div class="field">
    <% f.label :user_id %><br>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
